*{
    box-sizing: border-box;
}

body{
    background-color: rgb(5, 78, 23);
    margin: 0px;
    padding: 50px;
}

ul{
    list-style-type: none;
    width: 39%;
    /* background-color: aliceblue; */
    float: left;
}

.width-div{
    width: 20%;
    float: left;
    height: 70px;
}

nav{
    padding: 5% 0%;
}
 
li{
    display: inline;

}

a{
    color: white;
    margin: 0px 15px;
    width: 150px;
    height: 50px;
    background-color: black;
    padding: 15px;
}

main{
    background-color: white; 
    
}

#uno{
    
    height: 700px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;
    flex-wrap: wrap;
    height: fit-content; 
    
}

.articulos{
    border: 2px solid yellow;
    background-color: aqua;
}

#art1{
    order: 2; 
    flex-basis: 500px;
}

#art2{
    order: 6;  
    flex-grow: 0.2;
}

#art3{
    order: 4; 
}
 
#art4{
    order: 1; 
}

#art5{
    order: 5; 
    height: 270px;
    align-self:flex-start;
}

#art6{
    order: 3; 
}  

#img5{
    height: 200px;
}



